 
.body {
    marning:0;
  background: #111;
  color: white;
  font-family: Arial, sans-serif;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
    color: white;
  background: #222;
  padding: 30px;
  border-radius: 12px;
  max-width: 400px;

  animation: slideIn 0.8s ease-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}